body.body-landing {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  padding-top: 100px;
  @media (max-width: 1024px) {
    padding-top: 72px;
  }
  @media (max-width: 768px) {
    padding-top: 60px;
  }
  input, textarea {
    border: solid 1px #dedede;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
  footer {
    padding: 35px 0 35px 0;
  }
  .header {
    padding: 22px 60px;
    @media (max-width: 1024px) {
      padding: 8px 24px;
      height: 72px;
    }
    @media (max-width: 768px) {
      padding: 10px 16px;
      height: 60px;
    }
    .header__logo{
      @media (max-width: 768px) {
        padding: 0;
        position: absolute;
        top: 0;
        left: 16px;
        -webkit-transform: none;
        -ms-transform: translate(-50%,-50%);
        transform: none;
      }
      a{
        img{
          height: 56px;
        }
      }
    }
    .header__content{
      @media (max-width: 768px) {
        position: static;
        background: none;
        width: auto;
        left: 0;
        display: block;
        max-height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        box-shadow: none;
      }
      .button {
        margin-top: 2px;
        padding: 18px 22px;
        @media (max-width: 768px) {
          margin-top: 0px;
          padding: 12px 12px;
        }
      }
    }
  }
  .landing-page{
    .landing-page-info{
      background-image:  url('../img/content-landing-page/bg-top.jpg');
      background-position: bottom;
      background-size: cover;
      padding: 148px 0;
      position: relative;
      @media (max-width: 1024px) {
        padding: 99px 0;
      }
      @media (max-width: 768px) {
        padding: 40px 0;
      }
      .mouse {
        margin: 0;
        position: absolute;
        bottom: 55px;
        right: 60px;
        z-index: 10;
        cursor: pointer;
        @media (max-width: 1024px) {
          display: none;
        }
        &-icon {
          display: block;
          width: 25px;
          height: 45px;
          border: 2px solid white;
          border-radius: 15px;
          cursor: pointer;
          position: relative;
          text-align: center;
        }
        &-wheel {
          height: 6px;
          margin: 2px auto 0;
          display: block;
          width: 3px;
          background-color: white;
          border-radius: 50%;
          animation: 1.6s ease infinite wheel-up-down;
        }
      }
      @-webkit-keyframes wheel-up-down {
        0% {
          margin-top: 2px;
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        100% {
          margin-top: 20px;
          opacity: 0;
        }
      }
      @keyframes wheel-up-down {
        0% {
          margin-top: 2px;
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        100% {
          margin-top: 20px;
          opacity: 0;
        }
      }
      .info-wrap{
        width: calc(100% - 505px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto 100px auto 0;
        @media (max-width: 1024px) {
          width: calc(100% - 495px);
        }
        @media (max-width: 768px) {
          width: 100%;
          margin-right: 0;
        }
        .info{
          max-width: 910px;
          .title{
            padding: 0px 0 22px;
            font-size: 46px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: -0.42px;
            color: #ffffff;
            @media (max-width: 1024px) {
              padding: 0px 0 28px;
            }
            @media (max-width: 768px) {
              padding: 0px 0 20px;
              font-size: 33px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.21;
              letter-spacing: -0.3px;
              color: #ffffff;
            }
          }
          .text{
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.1px;
            color: #ffffff;
            @media (max-width: 768px) {
              padding: 0px 0 20px;
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #ffffff;
            }
            ul{
              margin-top: 42px;
              padding-left: 18px;
              @media (max-width: 768px) {
                margin-top: 16px;
              }
              li{
                margin-bottom: 28px;
                @media (max-width: 768px) {
                  margin-bottom: 16px;
                }
                &::marker{
                  color: #b8de1b;
                }
              }
            }
          }
        }
      }
      .form-wrap {
        width: 405px;
        background-color: #ffffff;
        padding: 60px 40px 30px;
        @media (max-width: 1024px) {
          width: 395px;
          padding: 60px 30px 30px;
          height: max-content;
        }
        @media (max-width: 768px) {
          display: none;
        }
        position: relative;
        .form-img {
          position: absolute;
          top: -80px;
          right: -110px;
          width: 220px;
          @media (max-width: 1850px) {
            right: -10px;
          }
          @media (max-width: 1024px) {
            top: -60px;
            width: 160px;
          }
          @media (max-width: 768px) {
          }
        }
        .title {
          font-size: 26px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.27;
          letter-spacing: -0.24px;
          color: #2b2b2b;
          padding-bottom: 32px;
        }
        .form-download{
          p{
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #2b2b2b;
            margin-bottom: 12px;
          }
          .connect__col input, .connect__col textarea {
            padding: 12px 20px;
          }
          .button {
            padding: 19px 22px;
            width: 100%;
            margin-top: 20px;
          }
        }
      }
    }
    .landing-page-reviews{
      padding: 140px 0;
      background-color: #f1f1f1;
      @media (max-width: 1024px) {
        padding: 100px 0;
      }
      @media (max-width: 768px) {
        padding: 40px 0;
      }
      .container{
        .row{
          .text{
            font-size: 33px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: -0.3px;
            color: #2b2b2b;
            padding-bottom: 84px;
            @media (max-width: 1024px) {
              padding-bottom: 40px;
            }
            @media (max-width: 768px) {
              font-size: 26px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.31;
              letter-spacing: -0.2px;
              color: #2b2b2b;
              padding-bottom: 49px;
            }
          }
        }
        .reviews-slider-wrap{
          position: relative;
          .reviews-slider{
            margin: 0 135px;
            @media (max-width: 1024px) {
              margin: 0 83px;
            }
            @media (max-width: 768px) {
              margin: 0px;
            }
            .review{
              display: flex;
              justify-content: space-between;
              @media (max-width: 1024px) {
                flex-wrap: wrap;
              }
              @media (max-width: 768px) {
              }
              &:focus{
                outline: none;
              }
              .text-wrap{
                width: 70%;
                margin: auto 0;
                @media (max-width: 1024px) {
                  width: 100%;
                }
                @media (max-width: 768px) {
                }
                .title{
                  font-size: 26px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.27;
                  letter-spacing: -0.24px;
                  color: #2b2b2b;
                  padding-bottom: 21px;
                  @media (max-width: 768px) {
                    padding-bottom: 12px;
                    font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.65;
                    letter-spacing: -0.18px;
                    text-align: center;
                    color: #2b2b2b;
                    margin-top: 44px;
                  }
                }
                .text{
                  font-size: 20px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.65;
                  letter-spacing: normal;
                  color: #686667;
                  @media (max-width: 768px) {
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: center;
                    color: #686667;
                  }
                }
              }
              .about-wrap{
                width: 25%;
                margin: auto;
                @media (max-width: 1024px) {
                  width: 100%;
                  margin-top: 20px;
                }
                @media (max-width: 768px) {
                  margin-top: 28px;
                }
                .photo{
                  width: 160px;
                  height: 160px;
                  margin: auto;
                  @media (max-width: 768px) {
                    width: 80px;
                    height: 80px;
                  }
                  img{
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    object-fit: cover;
                    @media (max-width: 768px) {
                      width: 80px;
                      height: 80px;
                    }
                  }
                }
                .name{
                  font-size: 20px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.6;
                  letter-spacing: -0.18px;
                  text-align: center;
                  color: #2b2b2b;
                  padding-top: 16px;
                  @media (max-width: 768px) {
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: center;
                    color: #2b2b2b;
                    padding-top: 8px;
                  }
                }
                .position{
                  font-size: 17px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.41;
                  letter-spacing: normal;
                  text-align: center;
                  color: #686667;
                  @media (max-width: 768px) {
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: center;
                    color: #686667;
                  }
                }
              }
            }
          }
          .reviews-arrow{
            left: 0;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 768px) {
              left: calc(50% - 51px);
              width: 102px;
              top: 0;
            }
          }
        }
      }
    }
    .b5{
      padding: 140px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1024px) {
        padding: 80px 0;
      }
      @media (max-width: 768px) {
        padding: 40px 0;
      }
      input{
        border: none;
      }
      .block{
        display: flex;
        justify-content: space-between;
        margin-bottom: 140px;
        @media (max-width: 1024px) {
          margin-bottom: 100px;
          flex-wrap: wrap;
        }
        @media (max-width: 768px) {
          margin-bottom: 40px;
          flex-wrap: wrap;
        }
        &:last-child{
          margin-bottom: 0;
        }
        &:nth-child(odd){
          flex-direction: row-reverse;
        }
        .image-wrap{
          width: 55%;
          @media (max-width: 1024px) {
            width: 100%;
            order: 2;
          }
          img{
            object-fit: cover;
            width: 100%;
          }
        }
        .info-wrap{
          width: calc(45% - 60px);
          margin: auto 0;
          @media (max-width: 1024px) {
            width: 100%;
            max-width: 100%;
            padding-top: 0px;
            margin: auto;
            order: 1;
          }
          @media (max-width: 768px) {
          }
          .title{
            font-size: 33px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: -0.3px;
            color: #2b2b2b;
            padding-bottom: 32px;
            @media (max-width: 1024px) {
            }
            @media (max-width: 768px) {
              font-size: 26px;
              font-weight: 400;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.31;
              letter-spacing: -.2px;
              color: #2b2b2b;
              padding-bottom: 18px;
            }
          }
          ol, ul {
            padding-left: 20px;
            li{
              font-size: 20px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.65;
              letter-spacing: normal;
              color: #686667;
              padding-bottom: 24px;
              &::marker{
                color: #c54c8f;
              }
              @media (max-width: 1024px) {
              }
              @media (max-width: 768px) {
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                padding-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }
}