body.global.nozoom {
  @media only screen and (min-width: 1024px) and (max-width: 1600px) {
    zoom: 1;
  }
  @media (max-width: 1024px) {
  }
  @media (max-width: 768px) {
  }
  input, textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}
.orchid-page{
  .page-info-orchid{
    background-image:  url('../img/orchid/top-bg.jpg');
    background-position: bottom;
    background-size: cover;
    padding-bottom: 0px;
    padding-top: 47px;
    .logo-row{
      padding: 74px 0;
      justify-content: left;
      @media (max-width: 1024px) {
        padding: 40px 0 29px;
        flex-wrap: wrap;
      }
      @media (max-width: 768px) {
      }
      .logo{
        margin-right: 176px;
        @media (max-width: 1024px) {
          margin: 0;
          padding-bottom: 60px;
        }
        @media (max-width: 768px) {
          padding-bottom: 40px;
        }
        img{
          max-width: 100%;
        }
      }
      .info-wrap {
        max-width: 619px;
        @media (max-width: 1024px) {
          max-width: 100%;
        }
        @media (max-width: 768px) {
        }
        .title{
          font-family: Gotham;
          font-size: 33px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.21;
          letter-spacing: -0.3px;
          color: #ffffff;
          padding-bottom: 16px;
          margin-bottom: 0;
          P{
            margin: 0;
          }
        }
        .info{
          font-family: Gotham;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.65;
          letter-spacing: normal;
          color: #ffffff;
          @media (max-width: 1024px) {
          }
          @media (max-width: 768px) {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #ffffff;
          }
        }
        .button{
          width: 100%;
          margin-top: 8px;
          text-align: center;
          font-weight: 400;
          @media (max-width: 1024px) {
          }
          @media (max-width: 768px) {
            margin-top: 8px;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #2b2b2b;
            padding: 22px 20px;
          }
          span{
            font-family: Gotham;
            font-size: 26px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: -.3px;
            @media (max-width: 768px) {
              font-size: 22px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.45;
              letter-spacing: normal;
              color: #2b2b2b;
            }
          }
        }
      }
    }
    .mark-wrap{
      position: relative;
      @media (max-width: 1024px) {
        padding-bottom: 55px;
      }
      @media (max-width: 768px) {
        padding-bottom: 44px;
      }
      .min-text {
        opacity: 0.7;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        color: #ffffff;
        padding-bottom: 41px;
        display: flex;
        @media (max-width: 1460px) {
          height: fit-content;
          padding: 80px 0 0 0;
        }
        @media (max-width: 1024px) {
          padding: 80px 0 0 0;
        }
        @media (max-width: 768px) {
          font-size: 18px;
          padding: 20px 0 0 0;
        }
        img{
          margin: auto;
          padding-right: 8px;
        }
      }
      .logo-wrap{
        position: absolute;
        right: 0;
        bottom: 22px;
        @media (max-width: 1460px) {
          position: relative;
        }
        @media (max-width: 1024px) {
          position: static;
        }
        @media (max-width: 768px) {
        }
        img{
          max-height: 148px;
          @media (max-width: 1024px) {
          }
          @media (max-width: 768px) {
            max-height: 80px;
          }
        }
      }
    }
  }
  .product-orchid{
    background-color: #f1f1f1;
    padding: 109px 0 109px;
    @media (max-width: 1024px) {
      padding: 70px 0 70px;
    }
    @media (max-width: 768px) {
      padding: 15px 0 15px;
    }
    .page-content{
      box-shadow: 0 0 8px rgba(0,0,0,.15);
      background-color: #fff;
      position: relative;
      padding: 70px 75px 0;
      @media (max-width: 1024px) {
      }
      @media (max-width: 768px) {
        padding: 26px 18px;
      }
      .b1{
        .title{
          font-size: 33px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.21;
          letter-spacing: -0.3px;
          color: #2b2b2b;
          @media (max-width: 1024px) {
          }
          @media (max-width: 768px) {
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: -0.15px;
          }
        }
        .items-wrap{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-column-gap: 20px;
          grid-row-gap: 70px;
          padding: 83px 0 70px;
          border-bottom: 1px solid #dedede;
          @media (max-width: 1270px) {
            grid-template-columns: repeat(2, 1fr);
          }
          @media (max-width: 768px) {
            grid-column-gap: 34px;
            grid-row-gap: 31px;
            padding: 36px 0 34px;
          }
          .img{
            width: 253px;
            height: 253px;
            margin: auto;
            @media (max-width: 768px) {
              width: 180px;
              height: 180px;
            }
            @media (max-width: 490px) {
              width: 100px;
              height: 100px;
            }
            img{
              max-width: 100%;
            }
          }
          .item-title{
            font-size: 20px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.65;
            letter-spacing: normal;
            text-align: center;
            color: #686667;
            padding-top: 27px;
            @media (max-width: 1024px) {
            }
            @media (max-width: 768px) {
              padding-top: 8px;
              font-size: 14px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.71;
              letter-spacing: normal;
              text-align: center;
              color: #2b2b2b;
            }
          }
        }
      }
      .b2{
        padding: 140px 0;
        @media (max-width: 1024px) {
          padding: 70px 0 80px;
        }
        @media (max-width: 768px) {
          padding: 40px 0 40px;
        }
        .title{
          font-size: 33px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.21;
          letter-spacing: -0.3px;
          color: #2b2b2b;
          padding-bottom: 84px;
          @media (max-width: 1024px) {
            padding-bottom: 40px;
          }
          @media (max-width: 768px) {
            font-size: 26px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: -0.2px;
            color: #2b2b2b;
            padding-bottom: 49px;
          }
        }
        .reviews-slider-wrap{
          position: relative;
          .reviews-slider{
            margin: 0 135px;
            @media (max-width: 1024px) {
              margin: 0 83px;
            }
            @media (max-width: 768px) {
              margin: 0px;
            }
            .review{
              display: flex;
              justify-content: space-between;
              @media (max-width: 1024px) {
                flex-wrap: wrap;
              }
              @media (max-width: 768px) {
              }
              &:focus{
                outline: none;
              }
              .text-wrap{
                width: 70%;
                margin: auto 0;
                @media (max-width: 1024px) {
                  width: 100%;
                }
                @media (max-width: 768px) {
                }
                .title{
                  font-size: 26px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.27;
                  letter-spacing: -0.24px;
                  color: #2b2b2b;
                  padding-bottom: 21px;
                  @media (max-width: 768px) {
                    padding-bottom: 12px;
                    font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.65;
                    letter-spacing: -0.18px;
                    text-align: center;
                    color: #2b2b2b;
                    margin-top: 44px;
                  }
                }
                .text{
                  font-size: 20px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.65;
                  letter-spacing: normal;
                  color: #686667;
                  @media (max-width: 768px) {
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: center;
                    color: #686667;
                  }
                }
              }
              .about-wrap{
                width: 25%;
                margin: auto;
                @media (max-width: 1024px) {
                  width: 100%;
                  margin-top: 20px;
                }
                @media (max-width: 768px) {
                  margin-top: 28px;
                }
                .photo{
                  width: 160px;
                  height: 160px;
                  margin: auto;
                  @media (max-width: 768px) {
                    width: 80px;
                    height: 80px;
                  }
                  img{
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    object-fit: cover;
                    @media (max-width: 768px) {
                      width: 80px;
                      height: 80px;
                    }
                  }
                }
                .name{
                  font-size: 20px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.6;
                  letter-spacing: -0.18px;
                  text-align: center;
                  color: #2b2b2b;
                  padding-top: 16px;
                  @media (max-width: 768px) {
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: center;
                    color: #2b2b2b;
                    padding-top: 8px;
                  }
                }
                .position{
                  font-size: 17px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.41;
                  letter-spacing: normal;
                  text-align: center;
                  color: #686667;
                  @media (max-width: 768px) {
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: center;
                    color: #686667;
                  }
                }
              }
            }
          }
          .reviews-arrow{
            left: 0;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 768px) {
              left: calc(50% - 51px);
              width: 102px;
              top: 0;
            }
          }
        }
      }
      .b3{
        margin: 0 -75px;
        padding: 60px 32px;
        background-color: #f1f1f1;
        @media (max-width: 1024px) {
        }
        @media (max-width: 768px) {
          margin: 0 -18px;
          padding: 32px 23px;
        }
        .logo-wrap{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-column-gap: 128px;
          grid-row-gap: 35px;
          @media (max-width: 1024px) {
            grid-column-gap: 84px;
          }
          @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 38px;
            grid-row-gap: 35px;
          }
          .logo{
            display: flex;
            img{
              max-width: 100%;
              margin: auto;
            }
          }
        }
      }
      .b4{
        padding: 140px 75px;
        background-image:  url('../img/orchid/bg2.jpg');
        background-position: top;
        background-size: cover;
        margin: 0 -75px;
        @media (max-width: 1024px) {
          padding: 100px 75px;
        }
        @media (max-width: 768px) {
          margin: 0 -18px;
          padding: 72px 18px 131px;
        }
        .title-wrapper{
          margin: 0 135px;
          @media (max-width: 1024px) {
           margin: 0;
          }
          .text{
            font-family: Gotham;
            font-size: 33px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: -0.3px;
            color: #ffffff;
            margin-bottom: 60px;
            @media (max-width: 1024px) {
              margin-bottom: 32px;
              text-align: center;
              width: 100%;
            }
            @media (max-width: 768px) {
              font-size: 26px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.31;
              letter-spacing: -0.2px;
              margin-bottom: 24px;
            }
          }
        }
        .slider-wrapper{
          position: relative;
          .get-slider{
            margin: 0 135px;
            @media (max-width: 1024px) {
              margin: 0 83px;
            }
            @media (max-width: 768px) {
              margin: 0px;
            }
            .slide{
              .info{
                margin-bottom: 60px;
                @media (max-width: 1024px) {
                  flex-wrap: wrap;
                  justify-content: center;
                }
                @media (max-width: 768px) {
                  margin-bottom: 40px;
                }
                .text{
                  font-family: Gotham;
                  font-size: 24px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.67;
                  letter-spacing: normal;
                  color: #ffffff;
                  @media (max-width: 1024px) {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 42px;
                  }
                  @media (max-width: 768px) {
                    font-size: 20px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.4;
                    letter-spacing: -0.15px;
                    margin-bottom: 24px;
                  }
                }
                .button{
                  font-size: 26px;
                  font-weight: 500;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.23;
                  letter-spacing: normal;
                  text-align: center;
                  padding: 28px 30px;
                  width: 407px;
                  height: fit-content;
                  margin-left: 70px;
                  @media (max-width: 1024px) {
                    margin: 0;
                  }
                  @media (max-width: 768px) {
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: center;
                    color: #2b2b2b;
                    width: 100%;
                    margin-left: 0px;
                    padding: 18px 30px;
                  }
                }
              }
              .row{
                .img{
                  width: 100%;
                  @media (max-width: 1024px) {
                  }
                  @media (max-width: 768px) {
                  }
                  img{
                    width: 100%;
                    object-fit: contain;
                  }
                }
              }
            }
          }
          .get-arrow{
            left: 0;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 768px) {
              left: calc(50% - 51px);
              width: 102px;
              top: calc(100% + 41px);
            }
            button.owl-next-d, button.owl-prev-d {
              border: 2px solid #8d8c8c;
              i{
                color: #8d8c8c;
              }
            }
          }
        }
      }
      .b5{
        padding: 140px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 1024px) {
          padding: 80px 0;
        }
        @media (max-width: 768px) {
          padding: 40px 0 0;
        }
        input{
          border: none;
        }
        .block{
          display: flex;
          justify-content: space-between;
          margin-bottom: 140px;
          @media (max-width: 1024px) {
            margin-bottom: 100px;
            flex-wrap: wrap;
          }
          &:last-child{
            margin-bottom: 0;
          }
          &:nth-child(2n){
            flex-direction: row-reverse;
          }
          .image-wrap{
            width: 55%;
            @media (max-width: 1024px) {
              width: 100%;
              order: 2;
            }
            img{
              object-fit: cover;
              width: 100%;
            }
          }
          .info-wrap{
            width: calc(45% - 60px);
            @media (max-width: 1024px) {
              width: 100%;
              max-width: 100%;
              padding-top: 0px;
              margin: auto;
              order: 1;
            }
            @media (max-width: 768px) {
            }
            .title{
              font-size: 33px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.21;
              letter-spacing: -0.3px;
              color: #2b2b2b;
              padding-bottom: 32px;
              @media (max-width: 1024px) {
              }
              @media (max-width: 768px) {
                font-size: 26px;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.31;
                letter-spacing: -.2px;
                color: #2b2b2b;
                padding-bottom: 18px;
              }
            }
            ol, ul {
              padding-left: 20px;
              li{
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.65;
                letter-spacing: normal;
                color: #686667;
                padding-bottom: 24px;
                &::marker{
                  color: #c54c8f;
                }
                @media (max-width: 1024px) {
                }
                @media (max-width: 768px) {
                  font-size: 16px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.5;
                  letter-spacing: normal;
                  padding-bottom: 16px;
                }
              }
            }
          }
        }
        .video-wrap{
          width: 60%;
          @media (max-width: 1024px) {
            width: 100%;
          }
          @media (max-width: 768px) {
          }
          .dscvriv-vidio {
            width: 100%;
            max-width: 100%;
            padding: 0;
            .content-col__videowrapper {
              margin-top: 0px;
            }
          }
        }
      }
      .b6{
        background-image:  url('../img/orchid/bg.jpg');
        background-position: top;
        background-size: cover;
        padding: 184px 0;
        margin: 0 -75px;
        @media (max-width: 1024px) {
          padding: 120px 0;
        }
        @media (max-width: 768px) {
          margin: 0 -18px;
          padding: 148px 18px 80px;
        }
        .row{
          max-width: 1134px;
          padding: 0 24px;
          margin: auto;
          @media (max-width: 1024px) {
            max-width: 619px;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
          }
          @media (max-width: 768px) {
            padding: 0;
          }
          .text{
            font-size: 33px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: -0.3px;
            color: #ffffff;
            margin-right: 60px;
            width: calc(100% - 407px);
            @media (max-width: 1024px) {
              width: 100%;
              max-width: 100%;
              padding-bottom: 40px;
              margin-right: 0px;
            }
            @media (max-width: 768px) {
              font-size: 26px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.31;
              letter-spacing: -0.2px;
              text-align: center;
              color: #ffffff;
            }
          }
          .button{
            font-size: 26px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            width: 407px;
            height: fit-content;
            line-height: 1.23;
            letter-spacing: normal;
            padding: 30px 28px;
            text-align: center;
            @media (max-width: 768px) {
              font-size: 16px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1;
              letter-spacing: normal;
              text-align: center;
              color: #2b2b2b;
              padding: 19px 17px;

            }
          }
        }
      }
      .b7{
        padding: 140px 0 70px;
        @media (max-width: 1024px) {
          padding: 80px 0 5px;
        }
        @media (max-width: 768px) {
          padding: 40px 0 35px;
        }
        .title{
          font-size: 33px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.21;
          letter-spacing: -0.3px;
          color: #2b2b2b;
          padding-bottom: 70px;
          @media (max-width: 1024px) {
            padding-bottom: 40px;
          }
          @media (max-width: 768px) {
            font-size: 26px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: -0.2px;
            color: #2b2b2b;
            padding-bottom: 20px;
          }
        }
        .faq-wrap{
          .accordion {
            background-color: #454545;
            cursor: pointer;
            padding: 32px 104px 32px 24px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            transition: 0.4s;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #ffffff;
            position: relative;
            @media (max-width: 1024px) {
            }
            @media (max-width: 768px) {
              padding: 12px 52px 12px 16px;
              font-size: 15px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.6;
            }
          }
          .accordion:after {
            content: ' ';
            background-image: url("../img/orchid/faq-i1.svg");
            width: 24px;
            height: 24px;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translate(-50%, -50%)
          }
          /*.active{
            padding: 32px 104px 16px 24px;
          }*/
          .active:after {
            content: ' ';
            background-image: url("../img/orchid/faq-i2.svg");
            width: 24px;
            height: 24px;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: 1024px) {
            }
            @media (max-width: 768px) {
              right: 0px;
            }
          }
          .panel {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            font-size: 17px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: normal;
            color: #ffffff;
            background-color: #454545;
            padding: 0 104px 0px 24px;
            @media (max-width: 1024px) {
            }
            @media (max-width: 768px) {
              padding: 0px 52px 0px 16px;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.67;
            }
            p{
              margin-bottom: 24px;
            }
          }
          .even{
            background-color: #2b2b2b;
          }
        }
      }
      .b8{
        padding: 70px 0;
        .title{
          color: #2b2b2b;
          width: 100%;
          font-family: Gotham;
          font-size: 33px;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: -.3px;
          margin-bottom: 60px;
          text-align: center;
          @media (max-width: 1024px) {
            margin-bottom: 32px;
          }
          @media (max-width: 768px) {
            font-size: 26px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: -.2px;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
  .connect{
    padding: 0 15px 140px;
    @media (max-width: 1024px) {
      padding: 0 25px 80px;
    }
    @media (max-width: 768px) {
      padding: 0 15px 40px;
    }
    .container{
      padding: 70px 15px 100px;
      box-shadow: 0 0 6px 0 #e2e2e2;
      max-width: 1610px;
      @media (max-width: 1024px) {
        padding: 70px 15px 34px;
      }
      @media (max-width: 768px) {
        padding: 50px 15px 34px;
      }
      input[type="submit"] {
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        border: none;
        padding: 22px 50px;
        margin: auto;
      }
      h2{
        @media (max-width: 1024px) {
        }
        @media (max-width: 768px) {
          font-size: 26px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.31;
          letter-spacing: -0.2px;
        }
      }
    }
  }
}